body {
    font-family: 'Dosis', sans-serif;
    }  

.link {
	 background: url("../images/close.png") no-repeat scroll 7px 0 rgba(0, 0, 0, 0);
    color: #fff;
    height: 19px;
    text-decoration: none;
    width: 27px;
	}
.link:hover {color:#fff; text-decoration:underline}  
 input:focus {
	border-color:#56b4ef;
	box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
}
#mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    display:none;
    }

#boxes .window {
    position:absolute;
    left:0;
    top:0px;
    width:440px;
    display:none;
    z-index:9999;
    padding: 20px;
    overflow: hidden;
    }  

#boxes #dialog {
   background-color: #fff;
    background-image: linear-gradient(center top , #fff, #eee);
    background: -moz-linear-gradient(center top , #fff, #eee);
    background: -webkit-linear-gradient(center top , #fff, #eee);
    background: -o-linear-gradient(center top , #fff, #eee);
    background: -ms-linear-gradient(center top , #fff, #eee);
    background: linear-gradient(center top , #fff, #eee);
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, 0.2);
   
    left: 406px !important;
    width: 450px;
    z-index: 0;
	
}

#dialog:before {
   
    border: 1px dashed #ccc;
    bottom: 5px;
    box-shadow: 0 0 0 1px #fff;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: -1;
	
}

.top {
    
    }

.close {
    float:right;
    }

.content {
    padding-top: 35px;
}
.Create_r_butt{
	background: url("../images/images_createrubric.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    height: 130px;
    left: 46%;
    position: absolute;
    top: 50%;
    width: 210px;

}
h1::before {
  	background: -moz-linear-gradient(right center , #777, #fff);
    background: -webkit-linear-gradient(right center , #777, #fff);
    background: -o-linear-gradient(right center , #777, #fff);
    background: -ms-linear-gradient(right center , #777, #fff);
    background: linear-gradient(right center , #777, #fff);
    left: -4px;
}
h1::after, h1::before {
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 74px;
}
h1::after {
   
	background: -moz-linear-gradient(left center , #777, #fff);
    background: -webkit-linear-gradient(left center , #777, #fff);
    background: -o-linear-gradient(left center , #777, #fff);
    background: -ms-linear-gradient(left center , #777, #fff);
    background: linear-gradient(left center , #777, #fff);
    right: 0;
}
h1::after, h1::before {
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 74px;
}
h1 {
    color: #666;
    font: 26px/1 Verdana,Helvetica;
    letter-spacing: 4px;
    margin: 0 0 30px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0 2px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}
h1, h2 {
    font-size: 180%;
    font-variant: small-caps;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

#dialog input {
    background: url("../images/login-sp.png") no-repeat scroll 0 0 #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    margin: 0 0 10px 42px;
    padding: 15px 15px 15px 30px;
    width: 353px;
}


#dialog input:focus {
    background-color: #fff;
    border-color: #ABA9A9;
    box-shadow: 0 0 0 1px #ABA9A9 inset;
    outline: medium none;
}
#username {
    background-position: 5px -2px !important;
}
#password {
    background-position: 5px -52px !important;
}


.name {
content:'f236';
}
#submit {
  
    background: -moz-linear-gradient(center top , #fefefe, #c5c5c5);
    background: -webkit-linear-gradient(center top , #fefefe, #c5c5c5);
    background: -o-linear-gradient(center top , #fefefe, #c5c5c5);
    background: -ms-linear-gradient(center top , #fefefe, #c5c5c5);
    background: linear-gradient(center top , #fefefe, #c5c5c5);
    border-color: #e9e9e9 #c7c7c7 #a2a2a2;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #595858;
    cursor: pointer;
    float: left;
    font: bold 15px Arial,Helvetica;
    height: 35px;
    margin-left: 42px;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
   
}


#submit:hover {
     
    background: -moz-linear-gradient(center top , #c5c5c5, #fefefe);
    background: -webkit-linear-gradient(center top , #c5c5c5, #fefefe);
    background:  -o-linear-gradient(center top , #c5c5c5, #fefefe);
    background:  -ms-linear-gradient(center top , #c5c5c5, #fefefe);
    background:  linear-gradient(center top , #c5c5c5, #fefefe);
    border-color:  #a2a2a2 #c7c7c7 #e9e9e9;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #595858;
    cursor: pointer;
    float: left;
    font: bold 15px Arial,Helvetica;
    height: 35px;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    
}


