body{
margin: 0;
    padding: 0;
	font-family: 'Dosis', sans-serif;
	text-align:center; /*For IE6 Shenanigans*/ 
}
a{
	text-decoration: none;
	font-family: "ProximaNova-Regular",Helvetica,Arial,sans-serif;
}


.menu{
	float: left;
    height: 35px;
    list-style-type: none;
    margin: 0;
    width: 35px;
	padding-left: 50px;
	height: 40px;
/*	border: 1px solid black;*/
	text-align: center;
	position: relative;
	margin-left: 20px;
	
}

.menu_statii{
	    float: left;
    height: 40px;
    list-style-type: none;
    margin: 0 0 0 20px;
    padding-left: 50px;
    position: relative;
    text-align: center;
    width: 10px;
}

.menu_statii:hover{ 
	border-bottom: 2px solid #1E90FF; 
	box-shadow: 0px 2px 0px #1E90FF;	
}

.menu:hover{ 
	border-bottom: 2px solid #1E90FF; 
	box-shadow: 0px 2px 0px #1E90FF;	
}

.sex{
	margin-left: -49px;
	margin-right: 1px;
	margin-top: 9px;
	margin-bottom: 7px;
	/*border: 1px solid #000;*/
	font-size:14px;
}

.sex_a{
	color: #666;	
	font: inherit;	
	font-family: ProximaNova-Regular,Helvetica,Arial,sans-serif;
	font-size:14px;
}

/*-----------------------------------------------------------*/

.menu_top_ludi{
	float: left;
    height: 35px;
    list-style-type: none;
    margin: 0;
    width: 35px;
	padding-left: 50px;
	height: 40px;
/*	border: 1px solid black;*/
	text-align: center;
	position: relative;
	margin-left: 290px;
	
}

.menu_top_ludi:hover{ 
	border-bottom: 2px solid #1E90FF; 
	box-shadow: 0px 2px 0px #1E90FF;	
}

.menu_top_magazin{
  float: left;
    height: 40px;
    list-style-type: none;
    margin: 0;
    padding-left: 50px;
    position: relative;
    text-align: center;
    width: 52px;
	
}

.menu_top_magazin:hover{ 
	border-bottom: 2px solid #1E90FF; 
	box-shadow: 0px 2px 0px #1E90FF;	
}

/*-----------------------------------------------------------*/


.sex_1{
 font-size: 14px;
    margin: 10px 1px 7px -49px;
}

.sex_a_1{
	color: #666;	
	font: inherit;	
	font-family: ProximaNova-Regular,Helvetica,Arial,sans-serif;
	font-size:14px;
}

/*-----------------менюшка страницы юзера----------------------*/
.user_menu{
	float: left;
    height: 40px;
    list-style-type: none;
    margin: 0;
    padding-left: 50px;
    position: relative;
    text-align: center;
    width: 53px;
}

.user_menu:hover{ 
	border-bottom: 2px solid #1E90FF; 
	box-shadow: 0px 2px 0px #1E90FF;	
}

.user_sex{
	 float: left;
    font-size: 14px;
    margin: 10px 1px 7px -49px;
}

.user_sex_a{
	color: #666;	
	font: inherit;	
	font-family: ProximaNova-Regular,Helvetica,Arial,sans-serif;
	font-size:14px;
}

.user_menu_1{
	 float: left;
    height: 40px;
    list-style-type: none;
    margin: 0;
    padding-left: 50px;
    position: relative;
    text-align: center;
    width: 5px;
}

.user_menu_1:hover{ 
	border-bottom: 2px solid #1E90FF; 
	box-shadow: 0px 2px 0px #1E90FF;	
}

.user_lenta{
	 font-size: 14px;
    margin: 10px 19px 0 -49px;
}

.user_lenta_a{
	color: #666;	
	font: inherit;	
	font-family: ProximaNova-Regular,Helvetica,Arial,sans-serif;
	font-size:14px;
	padding-left: 7px;
	
}
/*-----------------менюшка страницы юзера--------//------------*/

/*-----------------менюшка ленты------------------------------*/

.lenta_obertka{
	width: 1250px;
	height: 250px;
	border: 1px solid #000;
}

.user_lena{
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	float: left;
	margin: 25px;
}

.obertka_vezey_v_lente{
	width: 900px;
	height: 200px;
	border: 1px solid #000;
	float: left;
	margin: 25px;
}

.vesz_v_lente{
	width: 150px;
	height: 150px;
	border: 1px solid #000;
	float: left;
	margin: 25px;
}

/*-----------------менюшка ленты---------------//-------------*/


/*-----------------менюшка подписок и подписчиков---------------------------------*/

.obertka_podpisok{
	width: 900px;
	height: 220px;
	border: 1px solid #000;
	margin: 10px;

}

.user_iz_podpisok{
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	float: left;
	margin: 10px;

}

.veszi_usera_podpisok{
	width: 650px;
	height: 200px;
	border: 1px solid #000;
	float: left;
	margin: 10px;


}

.vesz_iz_podpisok_usera{
	width: 150px;
	height: 150px;
	border: 1px solid #000;
	float: left;
	margin: 25px;

}


/*-----------------менюшка подписок и подписчиков-------------------//-------------*/

/*-----------------менюшка альбомов----------------------------------------------*/
.album_obertka{
	width: 900px;
	height: 220px;
	border: 1px solid #000;
	margin: 10px;

}

.album_name_obertka{
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	float: left;
	margin: 10px;

}

.album_obertka_veszi_all{
	width: 650px;
	height: 200px;
	border: 1px solid #000;
	float: left;
	margin: 10px;
}

.album_obertka_veszi_one{
	width: 150px;
	height: 150px;
	border: 1px solid #000;
	float: left;
	margin: 25px;
}

.album_otdelno_obertka_all{
	width: 900px;
	height: 1000px;
	border: 1px solid #000;
	margin: 10px;
	margin-left: 50px;


}

.album_otdelno_obertka_name_album{
	width: 875px;
	height: 100px;
	border: 1px solid #000;
	margin: 10px;

}

.album_otdelno_obertka_name_content_obertka{
	width: 875px;
	height: 800px;
	border: 1px solid #000;
	float: left;
	margin: 10px;
	padding: 0px;
}

.album_otdelno_obertka_name_content{
	width: 150px;
	height: 150px;
	border: 1px solid #000;
	float: left;
	margin: 25px;


}

/*-----------------менюшка альбомов-------------------//-------------------------*/


/*------------топ люди--------------------------------------------*/

.top_zelovek{
	width: 1250px;
	height: 250px;
	border: 1px solid #000;
	
}

.user_top_obertka{
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	float: left;
	margin: 25px;
}

.veszi_usera_obertka{
	width: 900px;
	height: 200px;
	border: 1px solid #000;
	float: left;
	margin: 25px;

}

.veszi_usera{
	width: 150px;
	height: 150px;
	border: 1px solid #000;
	float: left;
	margin: 25px;
}

.user_photo{
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	margin: 25px;

}

#veszi_usera_kartinka{
	width: 150px;
	height: 150px;

}

#user_photo_kartinka{
	width: 50px;
	height: 50px;
	float: left;
}

.obertozka{
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	margin: 10px;
	float: left;
}

/*------------топ люди-----------//-------------------------------*/

/*--------------топ магазины--------------------------------------------------*/
.top_magazin{
	width: 1250px;
	height: 250px;
	border: 1px solid #000;
}


.magazin_name_obertka{
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	float: left;
	margin: 25px;

}


.veszi_iz_magazina{
	width: 900px;
	height: 200px;
	border: 1px solid #000;
	float: left;
	margin: 25px;

}

.kartinka_tovara_iz_magazina{
	width: 150px;
	height: 150px;
	border: 1px solid #000;
	float: left;
	margin: 25px;
}

/*--------------топ магазины----------------------------------//----------------*/



/*--------------менюшка с альбомами на странице юзера----------*/

.user_albom_content{
/*	height: 100%;
	width: 1000px;*/	
	height: auto;
	width: 1000px;
/*	border: 1px solid #000;*/
	margin-left: 100px;
	
}

.user_albom_heder{
	height: 65px;
	width:1000px;
	/*border: 1px solid #000;*/
	margin-left: 100px;	
}


.user_albom_menu{
	margin-left: 0px;

}

.user_albom_podmenu_veszi {
	margin: 0px;
	height: 30px;
	width: 120px;
	float: left;
/*	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;*/
	border-bottom: 1px solid #DDD;
	text-align: center;
	display: block;
	line-height: 25px;
	list-style-type: none;
	position: relative;
}

.user_albom_podmenu {
/*	margin: 0px;
	height: 30px;
	width: 120px;*/
	float: left;
/*	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;*/
	text-align: center;
	display: block;
	line-height: 25px;
	list-style-type: none;
	position: relative;
}

.user_albom_menu_left{
	margin: 0px;
	height: 30px;
	width: 40px;
	float: left;
/*	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;*/
	border-bottom: 1px solid #DDD;

}

.user_albom_menu_right{
	margin: 0px;
	height: 30px;
	width: 390px;
	float: left;
/*	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;*/
	border-bottom: 1px solid #DDD;

}


.user_albom_podmenu_a{
	font-family: "ProximaNova-Regular",Helvetica,Arial,sans-serif;
	color: #666;
	font-size: 16px;
/*	padding-left: 10px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;*/
	
	margin: 0px;
	height: 30px;
	width: 140px;
	float: left;
/*	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;*/
	border-bottom: 1px solid #DDD;
	text-align: center;
	display: block;
	line-height: 25px;
	list-style-type: none;
	position: relative;
	
}
/*
.user_albom_podmenu_ssilka a{
	height:20px;
	width:70px;
	float:left;

}
*/
/*
.user_albom_podmenu:hover  {
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: none;
	
	
}
*/


.active  {
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: none;
	
}



/*--------------менюшка с альбомами на странице юзера---//-----*/

/*-------выпадающее меню под мужиками и бабами---------------------------*/
.razdel_ul_2{
	background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
 /* display: -moz-inline-box;*/
	display: inline-block;
/*  height: 200px;*/
    height: auto;
/*  width: 300px;*/
    width: auto;
    margin-top: 16px;
    padding-top: 20px;
    position: relative;
	border: 1px solid #C0C0C0;
}

.razdel_ul{
	margin-top: 0px;
	padding: 0px;
	display: none;
    float: left;
    list-style-type: none;
	text-align: left;	
}

.all_menu_div{
	float: left;
    margin-left: 20px;
    margin-right: 20px;
/*  width: 50px;*/
	height: auto;
    width: auto;
}

.rezdel_end{
	height: 100%;
    width: 100%;
	clear: both;

}


.razdel_div {
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 20px;
	margin-bottom: 5px;
	/*border: 1px solid black;*/
	
	
}

.razdel_div a{
	color:  #1E90FF;
	position: relative;
	/*border: 1px solid black;*/
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	font-family: "ProximaNova-Regular",Helvetica,Arial,sans-serif;
	font-size:14px;
}

.razdel_div a:hover{
	color:  #4169E0;
}

.razdel_a{
	margin-top:10px;
	padding:0px;
	
}

.rubrica_ul{
	margin:0px;
	padding:0px;
	list-style-type: none;
	
	
}

.rubrica{
	width:50px;
	margin-top:-5px;

}

.div_rubrica{
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 30px;
	margin-bottom: 10px;
/*	border: 1px solid black;*/

}

.rubrica a{
	color: #808080;
}

.rubrica a:hover{
	color: #000000;
}

.sex:hover .razdel_ul{
  display:inline-block;
}

.sex:hover .razdel_ul_2{
  display:inline-block;
}
/*-------выпадающее меню под мужиками и бабами-----//--------------------*/





.pod_filtr{
	padding-left: 150px;
	padding-top: 40px;
	padding-bottom: 20px;
	height: 23px;
	border-bottom: 1px solid #DDD;
	
}

#pod_filtr_man{
	float: left;
    height: 20px;
	margin-left: 110px;
	margin-top: 10px;
	margin-bottom: 0px;
}

#pod_filtr_woman{
	float: left;
    height: 20px;
	margin-left: 35px;
	margin-top: 10px;
	margin-bottom: 0px;
	
}
#pod_filtr_woman a{
	
	font-family: "ProximaNova-Regular",Helvetica,Arial,sans-serif;
}


.line_top{
	background: none repeat scroll 0 0 black;
    float: left;
    height: 40px;
    width: 100%;
}

.line_top_2{
	background: none repeat scroll 0 0 black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    float: left;
    height: 40px;
    width: 100%;
}

.logo{
	float: left;
    margin-left: 110px;
}

.prisoedenitsa{
    background: linear-gradient(to bottom, #04aafd, #0044cc) repeat scroll 0 0 #008ffd;
    color: white;
    float: left;
    margin-left: 480px;
    padding: 7px 10px 12px;
    text-decoration: none;
}

.voiti{
	border-left: 1px solid white;
    border-right: 1px solid white;
    color: #fff;
    display: block;
    float: left;
    margin-left: 0;
    padding: 8px 10px 12px;
    text-decoration: none;
	
}


.exit{
	border-left: 1px solid white;
    border-right: 1px solid white;
    color: #fff;
    display: block;
    float: left;
    margin-left: 0;
    padding: 8px 10px 12px;
    text-decoration: none;
	
}

.avatarka_na_paneli{
	border-left: 1px solid white;
    border-right: 1px solid white;
    color: #fff;
    display: block;
    float: left;
    margin-left: 0;
    text-decoration: none;
	height: 40px;
	width: 60px;
	
}


.tabl_users{
	background: none repeat scroll 0 0 red;
    float: left;
    width: 947px;

}

#tabl_users_head{
	background: none repeat scroll 0 0 red;
    float: left;
    width: 947px;

}

.table_content{
	width: 100%;
}

.left_admin_panel{
	background: none repeat scroll 0 0 white;
    border: 1px solid #ccccce;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    float: left;
    height: 100%;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-top: 25px;
    width: 193px;
}

.left_admin_panel a {
	color: #31b0b9 !important;
    text-decoration: none;
}

.left_admin_panel a:hover {
    color: #31b0b9 !important;
    text-decoration: none;
	text-decoration:underline;
}

.block_admin_content{
	height: 136px;
    line-height: 27px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.right_admin_panel{
	background: none repeat scroll 0 0 white;
    border: 1px solid #ccccce;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    float: left;
    height: 100%;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-top: 25px;
    padding: 11px 15px 15px;
    width: 100%;
	
}

tbody{
width:100%;
}


.tovar_vivod_stranizi_head{
	height: 450px;
    width: 900px;
    border: 1px solid #000;
	margin: 25px;
}

.kupit{
	height: 50px;
    width: 100px;
    border: 1px solid #000;
	text-align: center;
	margin-top: -410px;
	margin-left: 400px;
	float: left;
}

.name_content_obertka_right{
	height: 390px;
    width: 350px;
    border: 1px solid #000;
	margin: 25px;
}


/*статьи----------------------------*/

.statei_obertka_filtra{
	height: 100px;
	width: 95%;
	margin-top: -9px;
	margin-left: 25px;
	margin-bottom: 25px;
	background-color: #39F;

}

.statei_filtr_head_man_woman_1{
	height: 20px;
	width: 100px;
	float: left;
	margin-top: 40px;
	margin-left: 250px;
	margin-bottom: 25px;
	text-align: center;
}



.statei_filtr_head_man_woman_2{
	height: 20px;
	width: 100px;
	float: left;
	margin-top: 20px;
	margin-left: 470px;
	margin-bottom: 25px;
	text-align: center;
}

.statei_filtr_head_man_woman_text{
	color: white;
    font-size: 200%;
	font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;

}

.statei_filtr_head_man_woman_text:hover{
	color: #D3D3D3;
}

.statei_body{
	height: 250px;
	width: 200px;
	border: 1px solid black;
	float: left;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 25px;
}

.statei_body_showe{
	height: 100%;
	width: 95%;
	border: 1px solid black;
	float: left;
	margin-left: 25px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 25px;
}

.statei_body_showe_zaglavie{
	height: 50px;
	width: 95%;
	border: 1px solid black;
	margin-left: 25px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 5px;
	text-align: center;
}

.statei_body_showe_telo_statei{
	height: 500px;
	width: 95%;
	border: 1px solid black;
	margin-left: 25px;
	margin-right: 50px;
	margin-top: 5px;
	margin-bottom: 25px;
	text-align: center;
}

/*статьи-----------------------//---*/





/* 
.one{
	height: 25px;
	width: 300px;
	float: left;
	border: 1px solid black;
	text-align: center;
}
.showe_tabl_users{
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	color: white;

}

.one{
	position: relative;
	display: inline-block;
	font-size: 90%;
	font-weight: 700;
	color: rgb(209,209,217);
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	padding: -1.5em 1em;
	outline: none;
	border-radius: 3px;
	background: linear-gradient(#0E9B1F, #39C97D) repeat scroll 0% 0% #353F41;
	box-shadow:
	   0 1px rgba(255,255,255,.2) inset,
	   0 3px 5px rgba(0,1,6,.5),
	   0 0 1px 1px rgba(0,1,6,.2);
	transition: .2s ease-in-out;
}

.one:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

.one:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}




.two{
	height: 25px;
	width: 300px;
	float: left;
	border: 1px solid black;
	text-align: center;
}
.add_tovar{
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	color: white;
}

.two{
	position: relative;
	display: inline-block;
	font-size: 90%;
	font-weight: 700;
	color: rgb(209,209,217);
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	padding: -1.5em 1em;
	outline: none;
	border-radius: 3px;
	background: linear-gradient(#0E9B1F, #39C97D) repeat scroll 0% 0% #353F41;
	box-shadow:
	   0 1px rgba(255,255,255,.2) inset,
	   0 3px 5px rgba(0,1,6,.5),
	   0 0 1px 1px rgba(0,1,6,.2);
	transition: .2s ease-in-out;
}

.two:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

.two:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}


.tree{
	height: 25px;
	width: 300px;
	float: left;
	border: 1px solid black;
	text-align: center;
}
.view_and_redact_rubric{
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	color: white;
}
	
.tree{
	position: relative;
	display: inline-block;
	font-size: 90%;
	font-weight: 700;
	color: rgb(209,209,217);
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	padding: -1.5em 1em;
	outline: none;
	border-radius: 3px;
	background: linear-gradient(#0E9B1F, #39C97D) repeat scroll 0% 0% #353F41;
	box-shadow:
	   0 1px rgba(255,255,255,.2) inset,
	   0 3px 5px rgba(0,1,6,.5),
	   0 0 1px 1px rgba(0,1,6,.2);
	transition: .2s ease-in-out;
}

.tree:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

.tree:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}


.for{
	height: 25px;
	width: 300px;
	float: left;
	border: 1px solid black;
	text-align: center;
}
.view_and_add_magazin{
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	color: white;
}
	
	
	
.for{
	position: relative;
	display: inline-block;
	font-size: 90%;
	font-weight: 700;
	color: rgb(209,209,217);
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	padding: -1.5em 1em;
	outline: none;
	border-radius: 3px;
	background: linear-gradient(#0E9B1F, #39C97D) repeat scroll 0% 0% #353F41;
	box-shadow:
	   0 1px rgba(255,255,255,.2) inset,
	   0 3px 5px rgba(0,1,6,.5),
	   0 0 1px 1px rgba(0,1,6,.2);
	transition: .2s ease-in-out;
}

.for:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

.for:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}
 */

/*-------див обертка для вывода товаров------*/
.show_random_tovar_div_obertka{
	background: none repeat scroll 0 0 white;
  /*  border: 1px solid #ccccce;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);*/
    float: left;
    height: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 100%;
}

/*-------див обертка для вывода товаров--//----*/



/*--------таблица вывода товаров----------*/
.show_random_tovar{
	height: 380px;
	width: 250px;
/*	border: 1px solid black;*/
/*	max-height: 350px;
	max-width: 250px;*/
	float: left;
	margin: 5px;
	margin-left: 45px;
	margin-right: 20px;
	margin-top: 40px;
}
/*
#show_random_tovar_photo_tovara{
	max-height: 280px;
	max-width: 200px;
	border: 1px solid black;
/*	height: auto;
	width: auto;
	
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 8px;
	margin-bottom: 50px;

}
*/
#show_image_tovar_gl_str{
	/* height: 200px;
	width: 227px;*/

	/*height: auto;
	width: auto;*/
	max-height: 280px;
	max-width: 200px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#show_random_tovar_name{
	height: 25px;
	width: 170px;
	font-family: "ProximaNova-Regular",Helvetica,Arial,sans-serif;	
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
/*	border: 1px solid black;*/
}

.show_random_tovar_name_user{
	height: 25px;
	width: 170px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
/*	border: 1px solid black;*/
}

/*все что касается скрипта отвечающего за изменение кнопок после нажатия-------*/

.del_vesz_on_my_page_knopka{
	height: 25px;
	width: 250px;
	border: 1px solid black;
}

.del_vesz_on_my_page_knopka_nazata{
	height: 25px;
	width: 250px;
	border: none;

}

.add_vesz_v_album_knopka{
	height: 25px;
	width: 250px;
	border: 1px solid black;
}

.add_vesz_v_album_knopka_nazata{
	height: 25px;
	width: 250px;
	border: none;

}

.delete_album_knopka{
    margin-left: 5px;
	height: 25px;
	width: 190px;
	border: 1px solid black;
}

.delete_album_knopka_nazata{
	height: 25px;
	width: 250px;
	border: none;

}

.del_vesz_iz_album_knopka{
	height: 25px;
	width: 160px;
	border: 1px solid black;
}

.del_vesz_iz_album_knopka_nazata{
	height: 25px;
	width: 250px;
	border: none;

}

.otpisatsia_ot_usera_knopka{
	margin-left: 25px;
	height: 25px;
	width: 160px;
	border: 1px solid black;
}

.otpisatsia_ot_usera_knopka_nazata{
	height: 25px;
	width: 250px;
	border: none;

}

.podpisatsa_na_usera_knopka{
	margin-left: 25px;
	height: 25px;
	width: 250px;
	border: 1px solid black;
}

.podpisatsa_na_usera_knopka_nazata{
	height: 25px;
	width: 350px;
	border: none;

}

.add_like_knopka{
	margin-left: 25px;
	height: 25px;
	width: 250px;
	border: 1px solid black;
}

.add_like_knopka_nazata{
	height: 25px;
	width: 350px;
	border: none;

}

.proba{
	height: 100px;
	width: 500px;
	border: 1px solid black;

}
/*все что касается скрипта отвечающего за изменение кнопок после нажатия--//--*/


/*это кнопки удаления и редакта на главной странице вывода товаров*/
#rubric_redact_but_random{
	float: left;
	
}

#rubric_delete_but_random{
	float: left;
	
}
/*это кнопки удаления и редакта на главной странице вывода товаров//*/


/*--------таблица вывода товаров-----//-----*/

/*-------таблица вывода товаров в футере страницы конкретного товара---------*/
#show_podobnie_tovari_obszaia_obertka{
	height: 395px;
	width: 1250px;
	float: left;
	border: 1px solid black;
	margin: 5px;
	margin-left: 25px;
	margin-right: 20px;
	margin-top: 20px;


}

#show_podobnie_tovari_obertka{
	height: 325px;
	width: 250px;
	float: left;
	border: 1px solid black;
	margin: 5px;
	margin-left: 45px;
	margin-right: 10px;
	margin-top: 40px;
}

#show_podobnie_tovari_photo_tovara{
	height: 225px;
	width: 225px;
	border: 1px solid #000;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 8px;
}

#show_podobnie_tovari_name_content{
	height: 20px;
	width: 130px;
	border: 1px solid #000;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 10px;
	text-align: center;
}

#sr_show_podobnie_tovari{
	height: 100px;
	width: 130px;

}

/*-------таблица вывода юзеров добавивших этот товар в футере страницы конкретного товара---------*/

.useri_dobavivsie_vez{
	height: 600px;
	width: 1250px;
	float: left;
	border: 1px solid #000;
	margin: 25px;

}

.user_dobavivsiy_vesz{
	height: 250px;
	width: 600px;
	float: left;
	border: 1px solid #000;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;

}

.user_dobavivsiy_vesz_hed{
	height: 90px;
	width: 590px;
	border: 1px solid #000;
	margin: 5px;

}

.user_dobavivsiy_vesz_veszi{
	height: 130px;
	width: 130px;
	border: 1px solid #000;
	float: left;
	margin: 3px;
}

.proverka_podpiski{
	height: 30px;
	width: 30px;
	float: left;
	
}
/*-------таблица вывода юзеров добавивших этот товар в футере страницы конкретного товара---//----*/



.add_vesz_on_my_page_knopka{	
	margin-left: 400px;
	height: 50px;
	width: 185px;
	border: 1px solid #000;
	margin-top: -338px;
}

.add_vesz_on_my_page_knopka_nazat{	
	margin-left: 500px;
	height: 50px;
	width: 185px;
	border: none;
}

.add_vesz_on_my_page_kogda_vesz_dobavlena{

	margin-left: 400px;
	height: 50px;
	width: 250px;
	margin-top: -338px;

}

/*-------таблица вывода товаров в футере страницы конкретного товара---//----*/


/*------таблица рубрик------------------*/

/*--------кнопка создания рубрики---------*/

.tabl_users_create{
	height: 50px;
	width: 210px;
	float: left;
}

#create_new_rubric_but{
	position: relative;
	display: inline-block;
	font-size: 90%;
	font-weight: 700;
	color: rgb(209,209,217);
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	padding: -1.5em 1em;
	outline: none;
	border-radius: 3px;
	background: linear-gradient(#0E9B1F, #39C97D) repeat scroll 0% 0% #353F41;
	box-shadow:
	   0 1px rgba(255,255,255,.2) inset,
	   0 3px 5px rgba(0,1,6,.5),
	   0 0 1px 1px rgba(0,1,6,.2);
	transition: .2s ease-in-out;
}

#create_new_rubric_but:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

#create_new_rubric_but:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}
/*-------кнопка создания рубрики----//-----*/


#tabl_rubric_head_name{
	height: 30px;
	width: 400px;
	float: left;
	border: 1px solid black;	
	border: 1px solid black;
	text-align: center;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	background-color:whitesmoke;	
}

#tabl_rubric_head_redact{
	height: 30px;
	width: 400px;
	float: left;
	border: 1px solid black;	
	border: 1px solid black;
	text-align: center;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	background-color:whitesmoke;

}

.tabl_rubric_name_content{
	height: 30px;
	width: 400px;
	float: left;
	border: 1px solid black;	
	text-align: center;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	


}


.tabl_rubric_delete_1{
	height: 30px;
	width: 200px;
	float: left;
	border: 1px solid black;	
	text-align: center;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	
}

#tabl_rubric_delete_but{
	position: relative;
	display: inline-block;
	font-size: 90%;
	font-weight: 700;
	color: rgb(209,209,217);
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	padding: -1.5em 1em;
	outline: none;
	border-radius: 3px;
	background: linear-gradient(#9B0E0E, #F00) repeat scroll 0% 0% #935B38;
	box-shadow:
	   0 1px rgba(255,255,255,.2) inset,
	   0 3px 5px rgba(0,1,6,.5),
	   0 0 1px 1px rgba(0,1,6,.2);
	transition: .2s ease-in-out;
}

#tabl_rubric_delete_but:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

#tabl_rubric_delete_but:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}




.tabl_rubric_redact{
	height: 30px;
	width: 198px;
	float: left;
	border: 1px solid black;
	text-align: center;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	
}

#tabl_rubric_redact_but{
	position: relative;
	display: inline-block;
	font-size: 90%;
	font-weight: 700;
	color: rgb(209,209,217);
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	padding: -1.5em 1em;
	outline: none;
	border-radius: 3px;
	background: linear-gradient(#0E9B1F, #39C97D) repeat scroll 0% 0% #353F41;
	box-shadow:
	   0 1px rgba(255,255,255,.2) inset,
	   0 3px 5px rgba(0,1,6,.5),
	   0 0 1px 1px rgba(0,1,6,.2);
	transition: .2s ease-in-out;
}

#tabl_rubric_redact_but:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

#tabl_rubric_redact_but:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}

/*-----таблица поля добавления рубрики--------!!!!!!!*/
.create_rubrica_inp_name{
	height: 35px;
	width: 250px;
	margin: 5px;
	text-shadow: 0.1em 0.1em 0.2em #000;
	font-weight: 600;
}

.create_rubrica_inp_name_sex_category{
	height: 35px;
	width: 250px;
	margin: 5px;
	text-shadow: 0.1em 0.1em 0.2em #000;
	font-weight: 600;
}

.create_rubrica_inp_clothing_category{
	height: 35px;
	width: 250px;
	margin: 5px;
	text-shadow: 0.1em 0.1em 0.2em #000;
	font-weight: 600;
}

.create_rubrica_inp_description{
	width: 250px;
	margin: 5px;
	text-shadow: 0.1em 0.1em 0.2em #000;
	font-weight: 600;
	border-radius: 5px;
}

#create_rubrica_inp_description_ta{
	text-shadow: 0.1em 0.1em 0.2em #000;
	font-weight: 600;
	border-radius: 5px;
}

/*это кнопка*/
#create_rubrica_inp_but{   

}

/*-----таблица поля добавления рубрики----//----*/

/*------таблица рубрик------//------------*/



/*-----таблица редакта вещи---------*/

#redact_veszi_id{
	height: 35px;
	width: 250px;
	margin: 5px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}

#redact_veszi_id_inp{
	height: 25px;
	width: 150px;
	border-radius: 5px;

}

#redact_veszi_name_content{
	height: 35px;
	width: 250px;
	margin: 5px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}
#redact_veszi_name_content_inp{
	height: 25px;
	width: 150px;
	border-radius: 5px;
}

#redact_veszi_sex_category{
	height: 35px;
	width: 250px;
	margin: 5px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}
#redact_veszi_sex_category_inp_sel{
	height: 25px;
	width: 150px;
	border-radius: 5px;
}

#redact_veszi_clothing_category{
	height: 35px;
	width: 450px;
	margin: 5px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}
#redact_veszi_clothing_category_inp{
	height: 25px;
	width: 150px;
	border-radius: 5px;
}

#redact_veszi_description{
	height: 150px;
	width: 450px;
	margin: 5px;
	text-shadow: 0.1em 0.1em 0.2em #000;
	font-weight: 600;
}
#redact_veszi_description_inp{
	
	border-radius: 5px;
}


#redact_veszi_but_but{
	position: relative;
	display: inline-block;
	font-size: 90%;
	font-weight: 700;
	color: rgb(209,209,217);
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	padding: -1.5em 1em;
	outline: none;
	border-radius: 3px;
	background: linear-gradient(#1AE10E, #4A4A4A) repeat scroll 0% 0% #6E7078;
	box-shadow:
	   0 1px rgba(255,255,255,.2) inset,
	   0 3px 5px rgba(0,1,6,.5),
	   0 0 1px 1px rgba(0,1,6,.2);
	transition: .2s ease-in-out;
}

#redact_veszi_but_but:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

#redact_veszi_but_but:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}
/*-----таблица редакта вещи-//------*/





.tabl_tovar_name{
	height: 30px;
	width: 400px;
	float: left;
	border: 1px solid black;	
	text-align: center;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	

}

.tabl_tovar_delete{
	height: 30px;
	width: 200px;
	float: left;
	border: 1px solid black;	
	text-align: center;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	

}

.tabl_tovar_redact{
	height: 30px;
	width: 198px;
	float: left;
	border: 1px solid black;	
	text-align: center;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	

}






/*-------таблица юзеров--шапка----------*/
.tabl_users_head_id{
	 background-color: whitesmoke;
    border: 1px solid gray;
    font-weight: 600;
    height: 30px;
    text-align: center;
    width: 161px;
}



.tabl_users_head{

}

#tabl_users_head_name{
	height: 30px;
	width: 120px;
	float: left;
	border: 1px solid black;
	text-align: center;	
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	background-color:whitesmoke;
}

#tabl_users_head_fame{
	height: 30px;
	width: 120px;
	float: left;
	border: 1px solid black;
	text-align: center;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	background-color:whitesmoke;
}

#tabl_users_head_login{
	height: 30px;
	width: 120px;
	float: left;
	border: 1px solid black;	
	text-align: center ;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	background-color:whitesmoke;
}

#tabl_users_head_mail{
	height: 30px;
	width: 120px;
	float: left;
	border: 1px solid black;	
	text-align: center ;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	background-color:whitesmoke;
}

#tabl_users_head_del{
	height: 30px;
	width: 120px;
	float: left;
	border: 1px solid black;	
	text-align: center ;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	background-color:whitesmoke;
}

#tabl_users_head_redact{
	height: 30px;
	width: 240px;
	float: left;
	border: 1px solid black;	
	text-align: center;	
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	background-color:whitesmoke;
}


/*-------таблица юзеров----------*/
.tabl_users_id{
	border: 1px solid gray;
    text-align: center;
	
}

.tabl_users_name{
	height: 30px;
	width: 120px;
	float: left;
	border: 1px solid black;	
	text-align: center ;
	text-align: center;	
	color: crimson; text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}

.tabl_users_last_name{
	height: 30px;
	width: 120px;
	float: left;
	border: 1px solid black;	
	text-align: center;
	color: crimson; text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}

.tabl_users_login{
	height: 30px;
	width: 120px;
	float: left;
	border: 1px solid black;	
	text-align: center;	
	text-align: center;	
	color: crimson; text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}

.tabl_users_password{
	height: 30px;
	width: 120px;
	float: left;
	border: 1px solid black;	
	text-align: center;	
	color: crimson; 
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}

.tabl_users_mail{
	height: 30px;
	width: 120px;
	float: left;
	border: 1px solid black;	
	text-align: center;
	color: crimson; 
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}

.tabl_users_delete{
	 border: 1px solid black;
    color: white;
    font-weight: 600;
    height: 36px;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em black;
    }

.tabl_users_delete_button{
	position: relative;
	display: inline-block;
	font-size: 90%;
	font-weight: 700;
	color: rgb(209,209,217);
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	padding: -1.5em 1em;
	outline: none;
	border-radius: 3px;
	background: linear-gradient(#9B0E0E, #F00) repeat scroll 0% 0% #935B38;
	box-shadow:
	   0 1px rgba(255,255,255,.2) inset,
	   0 3px 5px rgba(0,1,6,.5),
	   0 0 1px 1px rgba(0,1,6,.2);
	transition: .2s ease-in-out;
}

.tabl_users_delete_button:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

.tabl_users_delete_button:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}


.tabl_users_redact{
	  border: 1px solid black;
    color: white;
    height: 36px;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em black;
    width: 79px;
}


.tabl_users_redact_button{
	position: relative;
	display: inline-block;
	font-size: 90%;
	font-weight: 700;
	color: rgb(209,209,217);
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	padding: -1.5em 1em;
	outline: none;
	border-radius: 3px;
	background: linear-gradient(#1AE10E, #4A4A4A) repeat scroll 0% 0% #6E7078;
	box-shadow:
	   0 1px rgba(255,255,255,.2) inset,
	   0 3px 5px rgba(0,1,6,.5),
	   0 0 1px 1px rgba(0,1,6,.2);
	transition: .2s ease-in-out;
}

.tabl_users_redact_button:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

.tabl_users_redact_button:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}

/*-------таблица юзеров----//------*/

/*-----------Таблица редактирования юзера----------*/

.view_profile_user_id{
	height: 35px;
	width: 250px;
	margin: 5px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}

#view_profile_user_id_inp{
	height: 25px;
	width: 150px;
	border-radius: 5px;
}

.view_profile_user_name{
	height: 35px;
	width: 250px;
	margin: 5px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}

#view_profile_user_name_inp{
	height: 25px;
	width: 150px;
	border-radius: 5px;
}


.view_profile_user_last_name{
	height: 35px;
	width: 250px;
	margin: 5px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}

#view_profile_user_last_name_inp{
	height: 25px;
	width: 150px;
	border-radius: 5px;
}



.view_profile_user_login{
	height: 35px;
	width: 250px;
	margin: 5px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}

#view_profile_user_login_inp{
	height: 25px;
	width: 150px;
	border-radius: 5px;
}



.view_profile_user_mail{
	height: 35px;
	width: 250px;
	margin: 5px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}

#view_profile_user_mail_inp{
	height: 25px;
	width: 150px;
	border-radius: 5px;
}


.view_profile_user_reg_date{
	height: 35px;
	width: 250px;
	margin: 5px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}

#view_profile_user_reg_date_inp{
	height: 25px;
	width: 150px;
	border-radius: 5px;
}

.view_profile_user_admin{
	height: 35px;
	width: 250px;
	margin: 5px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}

#view_profile_user_admin_inp{
	height: 25px;
	width: 150px;
	border-radius: 5px;
}



#redact_and_save_profile_users_but{
	position: relative;
	display: inline-block;
	font-size: 90%;
	font-weight: 700;
	color: rgb(209,209,217);
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	padding: -1.5em 1em;
	outline: none;
	border-radius: 3px;
	background: linear-gradient(#1AE10E, #4A4A4A) repeat scroll 0% 0% #6E7078;
	box-shadow:
	   0 1px rgba(255,255,255,.2) inset,
	   0 3px 5px rgba(0,1,6,.5),
	   0 0 1px 1px rgba(0,1,6,.2);
	transition: .2s ease-in-out;
}

#redact_and_save_profile_users_but:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

#redact_and_save_profile_users_but:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}


/*-----------Таблица редактирования юзера----//------*/

/*-------------Таблица меню добавления товара------------*/
#add_name_tovar{
	height: 35px;
	width: 250px;
	margin: 5px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}

#add_name_tovar_inp{
	height: 25px;
	width: 150px;
	border-radius: 5px;
}

#add_sex_category_tovar{
	height: 35px;
	width: 250px;
	margin: 5px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}

#add_sex_category_tovar_inp_sel{
	height: 25px;
	width: 150px;
	border-radius: 5px;
}


#add_clothing_category_tovar{
	height: 35px;
	width: 350px;
	margin: 5px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}

#adres_tovara{
	height: 35px;
	width: 350px;
	margin: 5px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;

}

#add_clothing_category_tovar_inp_sel{
	height: 25px;
	width: 150px;
	border-radius: 5px;
}


#add_description_tovar{
	height: 150px;
	width: 450px;
	margin: 5px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-weight: 600;
}

#add_description_tovar_inp{
	
	border-radius: 5px;
}


#save_tovar_bat{
	position: relative;
	display: inline-block;
	font-size: 90%;
	font-weight: 700;
	color: rgb(209,209,217);
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	padding: -1.5em 1em;
	outline: none;
	border-radius: 3px;
	background: linear-gradient(#1AE10E, #4A4A4A) repeat scroll 0% 0% #6E7078;
	box-shadow:
	   0 1px rgba(255,255,255,.2) inset,
	   0 3px 5px rgba(0,1,6,.5),
	   0 0 1px 1px rgba(0,1,6,.2);
	transition: .2s ease-in-out;
}

#save_tovar_bat:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

#save_tovar_bat:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}

/*-------------Таблица меню добавления товара----//--------*/

/*------------Таблица магазинов--------------------------*/

#tabl_magazin_head_name{
	height: 30px;
	width: 200px;
	float: left;
	border: 1px solid #000;
	text-align: center;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	background-color: #F5F5F5;
}

#tabl_magazin_head_adres{
	height: 30px;
	width: 200px;
	float: left;
	border: 1px solid #000;
	text-align: center;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	background-color: #F5F5F5;


}

#tabl_magazin_head_redact{
	height: 30px;
	width: 400px;
	float: left;
	border: 1px solid #000;
	text-align: center;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
	background-color: #F5F5F5;
}



#table_name_magazin{
	height: 30px;
	width: 200px;
	float: left;
	border: 1px solid #000;
	text-align: center;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
}

#table_url_magazin{
	height: 30px;
	width: 200px;
	float: left;
	border: 1px solid #000;
	text-align: center;
	font-weight: 600;
	text-shadow: 0.1em 0.1em 0.05em #333;
}
/*--------------таблица поля добавления магазина----------*/
.create_magazin_inp_name{
	height: 35px;
	width: 250px;
	margin: 5px;
	text-shadow: 0.1em 0.1em 0.2em #000;
	font-weight: 600;
	border-radius: 5px;
}
.create_magazin_inp_url_magazin{
	height: 35px;
	width: 250px;
	margin: 5px;
	text-shadow: 0.1em 0.1em 0.2em #000;
	font-weight: 600;
	border-radius: 5px;

}
/*это кнопка*/
#create_magazin_inp_but{


}
/*--------------таблица поля добавления магазина------//----*/

/*------------Таблица магазинов---------//-----------------*/



.all_page{
	margin: 0 auto;
    position: relative;
    width: 1280px;
}


.o_nas{
	color: #fff;
    display: block;
    float: left;
    margin-left: 0;
    padding: 8px 10px 12px;
    text-decoration: none;
}

.o_nas_2{
	color: #fff;
    display: block;
    float: left;
    margin-left: 50%;
    padding: 8px 10px 12px;
    text-decoration: none;
}

.o_nas:before{
	content:f107;
    
}

h1::before {
  	background: -moz-linear-gradient(right center , #777, #fff);
    background: -webkit-linear-gradient(right center , #777, #fff);
    background: -o-linear-gradient(right center , #777, #fff);
    background: -ms-linear-gradient(right center , #777, #fff);
    background: linear-gradient(right center , #777, #fff);
    left: -4px;
}
h1::after, h1::before {
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 74px;
}
h1::after {
   
	background: -moz-linear-gradient(left center , #777, #fff);
    background: -webkit-linear-gradient(left center , #777, #fff);
    background: -o-linear-gradient(left center , #777, #fff);
    background: -ms-linear-gradient(left center , #777, #fff);
    background: linear-gradient(left center , #777, #fff);
    right: 0;
}
h1::after, h1::before {
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 74px;
}
h1 {
    color: #666;
    font: 26px/1 Verdana,Helvetica;
    letter-spacing: 4px;
    margin: 0 0 30px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0 2px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}
h1, h2 {
    font-size: 180%;
    font-variant: small-caps;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

#dialog input {
    background: url("../images/login-sp.png") no-repeat scroll 0 0 #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    margin: 0 0 10px 42px;
    padding: 15px 15px 15px 30px;
    width: 353px;
}


#dialog input:focus {
    background-color: #fff;
    border-color: #ABA9A9;
    box-shadow: 0 0 0 1px #ABA9A9 inset;
    outline: medium none;
}
#username {
    background-position: 5px -2px !important;
}
#password {
    background-position: 5px -52px !important;
}


.name {
content:'f236';
}
#submit {
  
     background: -moz-linear-gradient(center top , #fefefe, #c5c5c5);
    background: -webkit-linear-gradient(center top , #fefefe, #c5c5c5);
    background: -o-linear-gradient(center top , #fefefe, #c5c5c5);
    background: -ms-linear-gradient(center top , #fefefe, #c5c5c5);
    background: linear-gradient(center top , #fefefe, #c5c5c5);
    border-color: #e9e9e9 #c7c7c7 #a2a2a2;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #595858;
    cursor: pointer;
    float: left;
    font: bold 15px Arial,Helvetica;
    height: 35px;
    margin-left: 42px;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}


.right_admin_panel .submit {
  
    background: -moz-linear-gradient(center top , #fefefe, #c5c5c5) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #e9e9e9 #c7c7c7 #a2a2a2;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #595858;
    cursor: pointer;
    float: left;
    font: bold 15px Arial,Helvetica;
    height: 35px;
    margin-left: 0;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	
    
}

.right_admin_panel .submit:hover {
     
     background: -moz-linear-gradient(center top , #c5c5c5, #fefefe) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #e9e9e9 #c7c7c7 #a2a2a2;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #595858;
    cursor: pointer;
    float: left;
    font: bold 15px Arial,Helvetica;
    height: 35px;
    margin-left: 0;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    
}

#submit:hover {
     
     background: -moz-linear-gradient(center top , #fefefe, #c5c5c5);
    background: -webkit-linear-gradient(center top , #fefefe, #c5c5c5);
    background: -o-linear-gradient(center top , #fefefe, #c5c5c5);
    background: -ms-linear-gradient(center top , #fefefe, #c5c5c5);
    background: linear-gradient(center top , #fefefe, #c5c5c5);
    border-color: #e9e9e9 #c7c7c7 #a2a2a2;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #595858;
    cursor: pointer;
    float: left;
    font: bold 15px Arial,Helvetica;
    height: 35px;
    margin-left: 42px;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.show_random_tovar_div_obertka .submit {
  
    background: -moz-linear-gradient(center top , #fefefe, #c5c5c5) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #e9e9e9 #c7c7c7 #a2a2a2;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #595858;
    cursor: pointer;
    float: left;
    font: bold 15px Arial,Helvetica;
    height: 24px;
     margin-left: 4px;
    margin-top: 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    
}

.show_random_tovar_div_obertka .submit:hover {
     
     background: -moz-linear-gradient(center top , #c5c5c5, #fefefe) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #e9e9e9 #c7c7c7 #a2a2a2;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #595858;
    cursor: pointer;
    float: left;
    font: bold 15px Arial,Helvetica;
    height: 24px;
     margin-left: 4px;
    margin-top: 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    
}

.error_div{
 background: none repeat scroll 0 0 #fbe3e4;
    border: 2px solid #fcc2c3;
    border-radius: 5px;
    color: #8c210a;
    font-size: 12px;
    padding: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -10px;
}

.admin_all_page{
	background: none repeat scroll 0 0 #eef3f9;
    border-bottom: 1px solid #ccccce;
    border-left: 1px solid #ccccce;
    border-radius: 0 0 10px 10px;
    border-right: 1px solid #ccccce;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    float: left;
    width: 100%;
}

.zagolovok_blokov_admin{
  border-bottom: 1px solid #ccccce;
    color: #59554f;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 193px;
	font-family: ‘Metrophobic’, Arial, serif; font-weight: 400;
}

.kn{
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 6px;
    padding-right: 6px;
    text-rendering: auto;
    transform: translate(0px, 0px);
}

.kn_r{
color: green;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 6px;
    padding-right: 6px;
    text-rendering: auto;
    transform: translate(0px, 0px);
}

.kn_d{
color: red;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 6px;
    padding-right: 6px;
    text-rendering: auto;
    transform: translate(0px, 0px);
}

.right_admin_panel select, .right_admin_panel input {
    border-radius: 5px;
    height: 25px;
    left: 360px;
    margin-left: 70px;
    margin-top: 0;
    position: absolute;
	width: 150px;
}

.ck .submit{
	float: left;
    left: 263px;
    margin-left: 0;
    margin-top: 12px;
    padding-left: 0;
}


.razdel_div{

}
.block_admin_content div a{
float: left;
}

.line_admin_right_block{
    border-bottom: 1px solid #BABABF;
    height: 20px;
    margin: 0 auto 10px;
    padding-bottom: 8px;
    width: 946px;
}

.line_admin_right_block span{
 color: #59554f;
    font-family: ‘Metrophobic’,Arial,serif;
    font-size: 18px;
    font-weight: 400;
	 float: left;
	 margin-left:3px;
}

.right_admin_panel form div, .right_admin_panel div{
	text-align:left;
}

.ck{
float: left;
    margin-bottom: 44px;
}